@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/* font family for all the text */
body {
    font-family: 'Roboto', sans-serif;
}

/* logo size */
img {
    width: 33%;
}

/* Display the number and function screen, inline */
p {
    display: inline;
}

/* Button design */
button {
    margin: 5px;
    padding: 50px;
    background-color: black;
    color: white;
    font-size: large;
    font-family: 'Roboto', sans-serif;
}

/* Center the content in div */
body>div {
    text-align: center;
}

/* CSS for the display design */
.display-div {
    height: 30px;
    width: auto;
    background-color: white;
    border: 2px black solid;
    text-align: center;
    font-size: 150%;
    display: block;
}

/* Style for the buttons div */
.function-div {
    background-color: gray;
    text-align: right;
    width: 590px;
}

.number-div {
    margin-top: 20px;
    width: 381px;
    background-color: lightgray;
    text-align: right;
}

/* Input buttons styling */
#num-input {
    height: 50%;
    text-align: left;
    display: inline-block;
}

#func-input {
    height: 50%;
    text-align: left;
    display: inline-block;
}

/* Media queries */
@media screen and (max-width: 425px) {
    body {
        font-size: 60%;
    }

    img {
        width: 100%;
    }

    button {
        margin: 5px;
        padding: 30px;
        background-color: black;
        color: white;
        font-size: small;
    }

    #input {
        width: 100%;
        display: block;
        text-align: center;
    }
}