@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/* Check CSS if there are things that need to be removed
and make website responsive to screen size
*/

/* font family for all the text */
body {
    font-family: 'Roboto', sans-serif;
}

/* logo size */
img {
    width: 33%;
}

/* Display the number and function screen, inline */
p {
    display: inline;
}

/* button design here */
button {
    margin: 5px;
    padding: 50px;
    background-color: black;
    color: white;
    font-size: large;
    font-family: 'Roboto', sans-serif;
}

/* Center the content in div */
body>div {
    text-align: center;
}

/* CSS for the display design */
.display-div {
    height: 30px;
    background-color: white;
    border: 2px black solid;
    text-align: center;
    font-size: 150%;
}

/* Style for the buttons div */
.function-div {
    background-color: gray;
    text-align: right;
    width: 590px;
    overflow: none;
}

.number-div {
    margin-top: 20px;
    width: 381px;
    background-color: lightgray;
    text-align: right;
    overflow: none;
}

/* Input buttons styling */
#input {
    height: 50%;
    text-align: left;
    overflow: none;
    display: inline-block;
}